<template>
  <li :class="{ favorite: isFavorite, freindCard: true }">
    <h2>{{ name }} {{ isFavorite ? "Favorite" : "" }}</h2>
    <button @click="toggleDetails">Show Details</button>
    <button @click="toggleFavorite">Favorite</button>
    <button @click="$emit('delete', id)">Delete</button>
    <ul>
      <li><strong>Phone</strong> {{ phoneNumber }}</li>
      <li><strong>Email</strong> {{ emailAddress }}</li>
    </ul>
  </li>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    phoneNumber: {
      type: String,
      required: true,
    },
    emailAddress: {
      type: String,
      required: true,
    },
    isFavorite: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  emits: ["toggle-favorite", 'delete'],
  data() {
    return {
      detailsAreVisible: false,
    };
  },
  methods: {
    toggleDetails() {
      this.detailsAreVisible = !this.detailsAreVisible;
    },
    toggleFavorite() {
      this.$emit("toggle-favorite", this.id);
    },
  },
  mounted() {
    console.log(this.name, "mount");
  },
};
</script>

<style>
.freindCard,
form {
  /* margin: auto; */
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #eee;
  box-shadow: 3px 3px 3px #aaa;
  margin: 20px auto;
}

.favorite {
  background: red;
}

button {
  background: green;
  padding: 5px 15px;
  color: white;
  border-radius: 4px;
  outline: none;
  margin: 10px;
}
</style>