<template>
  <section class="container">
    <h2>My Freinds</h2>
    <new-freind @add-contact="addContact"></new-freind>
    <ul class="freinds_list">
      <freind-contact
        v-for="freind in freinds"
        :key="freind.id"
        :id="freind.id"
        :name="freind.name"
        :phone-number="freind.phone"
        :email-address="freind.email"
        :isFavorite="freind.isFavorite"
        @toggle-favorite="toggleFavoriteStatus"
        @delete="deleteContact"
      ></freind-contact>
    </ul>
  </section>
</template>

<script>
// import FreindContact from "./components/FreindContact.vue";

export default {
  //   components: {
  //     FreindContact,
  //   },
  name: "App",
  data() {
    return {
      freinds: [
        {
          id: "Alisher",
          name: "Alisher Azizov",
          phone: "0000 0000 0000",
          email: "alisher@localhost.com",
          isFavorite: true,
        },
        {
          id: "Kamol",
          name: "Kamol Nematov",
          phone: "0000 0000 0000",
          email: "kamol@localhost.com",
          isFavorite: false,
        },
      ],
    };
  },
  methods: {
    toggleFavoriteStatus(freindId) {
      const identifiedFreind = this.freinds.find(
        (freind) => freind.id === freindId
      );

      identifiedFreind.isFavorite = !identifiedFreind.isFavorite;
    },
    addContact(name, phone, email) {
      let newFreind = {
        id: new Date().toISOString(),
        name,
        phone,
        email,
        isFavorite: false,
      };

      this.freinds.push(newFreind);
    },

    deleteContact(freindId) {
      this.freinds = this.freinds.filter((freind) => freind.id !== freindId);
    },
  },
};
</script>

<style>
.container {
  text-align: center;
}
.freinds_list {
  width: 400px;
  margin: auto;
}
li {
  list-style-type: none;
}
</style>